<!DOCTYPE html>
<html lang="en">
<head>
<title>Karnataka Industrial Area Development Board</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="icon" type="image/png" href="images/favicon.png" />
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="styles/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" media="all">
<link href="css/fontawesome-4.2.0.min.css" rel="stylesheet" type="text/css" media="all">
<link href="css/styles.css" rel="stylesheet" />
<link href="styles/main.css" rel="stylesheet" />

</head>
<body ng-app="MyApp" ng-controller="MyController">
<header>
    <div class="header">
                    <div class="container">
                            <a href="#" class="logo" title="KIADB"></a>
                            <span class="logo-txt">Karnataka Industrial Area Development Board</span>
                        <div class="pull-right logo-right">
                            <a href="#"><img src="img/invest-karnataka.jpg" class="img-responsive" title="Invest Karnataka" /></a>
                            <a href="#"><img src="img/k-logo.jpg" class="img-responsive" title="Karnataka" /></a>
                            <a href="#"><img src="img/make-in-india.jpg" class="img-responsive" title="Make In India" /></a>
                        </div>
                    </div>
     </div> 
</header>
<div class="container-fluid">
  <div class="row bc_row">
    <div class="container">
        <div class="bread pull-left">
            <span ng-click="RemoveCookie()">You are here</span> : <a href="index" class="links">Home</a>
            <span class="fa fa-angle-right"></span>
            <span class="active">Applications Details</span>
        </div>
        <div class="pull-right">
            <span>Welcome User | <a href="" class="links"> Logout</a></span>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid min_ht">
  <div class="row">
    <div class="container">
      		<h2 class="page_head full_subpg_head">Applications Details - <span style="color:#fdb433;">5698723514 - In progress</span></h2>
                <div class="comments_section">
                       <div class="comment_description">
                           <h5 class="sub_heads_2">Activity Log</h5>
                           <p class="odd hides app-complete"><span class="date_style">20/01/2017</span> <span>Issued Completion Certificate</span> <a class="links_2 linkbtn" href="images/completion-certificate.jpg" target="_blank">View</a></p>
                           
                           <p class="hides rcc"><span class="date_style">15/01/2017</span> <span>Received Completion Certificate Request</span> </p>

                           <p class="odd hides rcc"><span class="date_style">12/12/2016</span> <span>Approved Building Drawings</span> </p>

                           <p class="hides ubd"><span class="date_style">10/12/2016</span> <span>Received Building Drawings</span> <a href="images/building-drawings.png" target="_blank" class="links_2 linkbtn" >View</a></p>

                           <p class="odd hides ubd"><span class="date_style">25/11/2016</span> <span>Approved Lease Agreement</span> </p>
                           
                           <p class="hides ula"><span class="date_style">22/11/2016</span> <span>Received Lease Agreement</span> <a class="links_2 linkbtn" >View</a></p>

                           <p class="odd hides ula"><span class="date_style">20/10/2016</span> <span>Issued Possession Letter</span> <a class="links_2 linkbtn" >View</a></p>

                           <p class="hides payment"><span class="date_style">15/10/2016</span> <span>Received Payments - Transaction ID: 5569781456, Amount: 34 Lacs, Mode: Online</span> </p>

                           <p class="odd hides payment"><span class="date_style">20/08/2016</span> <span>Approved Application & Issued Allotment Letter</span> <a class="links_2 linkbtn" href="images/AllotmentLetter.pdf" target="_blank">View</a></p> 

                           <p class=""><span class="date_style">05/08/2016</span> <span>Received Application Request</span> </p>
                        </div>              
                </div>
                <div class="view_app_wrap">
                            <div class="row_wrap">
                                <h5 class="sub_heads">Personal Details</h5>
                                <div class="row">
                                    <div class="col-md-2 col-xs-5 gap">First Name</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>Ramesh</strong></div>
                                    <div class="col-md-2 col-xs-5 gap">Middle Name</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>Kumar</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-xs-5 gap">Last Name</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>Joshi</strong></div>
                                    <div class="col-md-2 col-xs-5 gap">Company Name</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong> A To Z Enterprise</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-xs-5 gap">Phone No</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>+12855451</strong></div>
                                    <div class="col-md-2 col-xs-5 gap">Mobile No</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>9820098200</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-xs-5 gap">Email Id</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>rameshkumar@atoz.com</strong></div>
                                    <div class="col-md-2 col-xs-5 gap">State</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>Karnataka</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-xs-5 gap">Country</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>India</strong></div>
                                    <div class="col-md-2 col-xs-5 gap">Sector Name</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>Automobiles</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-xs-5 gap">Location of Interest</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>Belgaum </strong></div>
                                    <div class="col-md-2 col-xs-5 gap">Name of the Project</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>AtoZ Automobiles</strong></div>
                                </div>
                            </div>
                </div>
                <div class="view_app_wrap">
                            <div class="row_wrap">
                                <h5 class="sub_heads">Brief Description about the Project:</h5>
                                <div class="row">
                                    <div class="col-md-4 col-xs-5 gap">Approximate Investment for the Project (In Crores)</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>5.2 Crores</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-xs-5 gap">Approximate Land Required for the Project (In Acres)</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>2 Acres</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-xs-5 gap">Employment</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>500</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-xs-5 gap">Product/Activity</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>Cars</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-xs-5 gap">Information Source Name</div>
                                    <div class="col-md-4 col-xs-7 gap"><strong>Walk In</strong></div>
                                </div>
                            </div>


                            <!--add below code for verification application - Finance code online-->
                </div>
                <div class="view_app_wrap">

                            <div class="row_wrap">
                                <h5 class="sub_heads">Documents</h5>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">1. Brief Note on the present activities of the Company</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">activities.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">2. Project Layout Map</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">map.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">3. Project Implementation Schedule</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">schedule.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">4. Detailed Project Report</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">report.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">5. IT return of individual promoter</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">returns.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">6. CA Certified Net Worth Statement of each Individual Promoter/Director</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">implementation.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">7. Pan Card of Promoter/Company</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">pancard.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">8. Audited Account Report of the concerned</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">audited-report.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">9. Partnership deed/Registration of firms</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">registration.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">10. Incorporation certificate issued by ROC</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">certificate-roc.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">11. Memorandum and Article of Association Company/Form 32</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">memorandum.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">12. CA Certified Net Worth Statement of the company</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">worth-statement.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">13. Registration Certificate of Co-operative Society</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">society-certificate.pdf</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-4 gap">14. Society by Law</div>
                                    <div class="col-md-3 col-xs-4 gap"><a class="links_2" href="">society-law.pdf</a></div>
                                </div>
                            </div>
                                   
			<!--end below code for verification application - Finance code online-->
                        
                            
                                        <!--end below code for verification application code online-->
                </div>
                            <div class="application-buttons">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12" >
                                    <a href="dashboard" title="Print" class="btn btn-primary approvebtn" id="redirectToPayment" data-cookievalue="redirectToPayment" ng-click="WriteCookie()">APPROVE</a>
<!-- href="dashboard" -->
                                    <a href="dashboard" title="Print" class="btn btn-primary loginbt space_gap">REJECT</a>
                                    </div>
                                </div>
                            </div>
     </div>     
  </div>
</div>
<!--start of footer-->
<div class="container-fluid">
  <div class="row site_footer">
    <div class="container">
      <div class="row">
         <div class="copy-txt">Copyright 2017 Karnataka Industrial Area Development Board</div>
      </div>
    </div>
  </div>
</div>
<!-- JAVASCRIPTS --> 
<script src="scripts/jquery.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/angular.min.js"></script>
<script src="scripts/angular-cookies.min.js"></script>
<script>
        var app = angular.module('MyApp', ['ngCookies']);
        app.controller('MyController', function ($scope, $window, $cookieStore) {
            //var redirectToPayment = $cookieStore.get('Name') ? $cookieStore.get('Name') : 'redirectToPayment';
            var redirectToPayment;
            if($cookieStore.get('Name')){
                var redirectToPayment = $cookieStore.get('Name')
            } else {
                var redirectToPayment = 'redirectToPayment';
           }

           //console.log($cookieStore.get('Name'));
            //console.log(redirectToPayment);

            $scope.WriteCookie = function () {
                $cookieStore.put("Name", $cookieStore.get('Name') ? $cookieStore.get('Name') : 'redirectToPayment');
                console.log($cookieStore.get('Name') + ' hi');
                //console.log(redirectToPayment  + ' bye');
            };

             
            $scope.ReadCookie = function () {
                $window.alert($cookieStore.get('Name'));
            };

            /*var a = $cookieStore.get('Name');
            $scope.$watch(
                function() {
                    return a;
                }, function(n, o) {
                $scope.test = n;
                $scope.setCookie1 = true;
            });*/

            //setInterval(function(){
                //$window.alert($cookieStore.get('Name'));
            //},5000)

            $scope.RemoveCookie = function () {
                $cookieStore.remove('Name');
            };

            function showlogs(){
                var a = $cookieStore.get('Name');
                  console.log(a);
                  //setTimeout(function(){$('#graphview').trigger('click');},100)

                  /*$('#listview').click(function(){
                      $(this).hide();
                      $('.graphview,.paginationblk,#graphview').show();
                      $('.normalview').hide();  
                    });*/
                    //$('#graphview').click(function(){
                      //$(this).hide();
                      $('.graphview,.paginationblk,#graphview').hide();
                      $('.normalview,#listview').show();  
                    //})

                  if(a == 'redirectToPayment'){

                } else if(a == 'payment'){
                    $('.payment').show();
                }else if(a == 'ula'){
                    $('.ula,.payment').show();
                }else if(a == 'ubd'){
                    $('.ubd,.ula,.payment').show();
                }else if(a == 'rcc'){
                    $('.rcc,.ubd,.ula,.payment').show();
                }else if(a == 'app-complete'){
                    $('.app-complete,.rcc,.ubd,.ula,.payment').show();
                }
            }
            showlogs();

                $(document).ready(function(){
                  $([window]).focus(function(){
                   
                        showlogs();



                   }).focusout(function(){

                 });
               })
        });

        
    </script>
</body>
</html>
