/*******banner  arrows*****************/
.carousel-control.left,.carousel-control.right {background:none;}
.carousel-control { width: 5%;}
 
.glyphicon-menu-left{position: absolute;top: 45%;font-size: 50px;}
.glyphicon-menu-right{position: absolute;top: 45%;font-size: 50px;    right: 10px;}
.subpages .header {box-shadow: none;}

.left_info{background: #e4f9ff;color: #717171;font-size: 13px;}
.left_info span{font-size:28px;}
.left_info p strong{font-size:18px;}
.lbl-bill.lbl-bill{width: 120px;display: block;float: left;}
.badge{color: #000000;background-color: #faf037;}

.left_info hr{border: 0;border-top: 1px solid #a0e4fb;margin-top: 10px;border-bottom: 1px solid #ffffff;}

/********************************/
.bill_payment{display: block;overflow: hidden;margin: 20px 0;clear:both;padding: 35px 0 0;}
.pay_now_btn{margin: 15px 0;font-size: 16px;}
.bill_history .pay_now_btn{padding: 0 20px;font-size: 16px;margin:0;}
.table-responsive{margin:35px 0 20px 0;border: 1px solid #cccccc;}
.bill_history .table{margin-bottom:0;}
.bill_history .table_content{display: block;overflow: hidden;padding: 10px 0;}
.bill_history .table_content .col-md-3{margin:0 0 5px 0;}
.account-table-mobi .table_content{margin:20px 0 20px 0;border: 1px solid #cccccc;}
/******view application bills*****/
.view-bills{    margin: 20px 0 20px 0;display: block;overflow: hidden;clear: both;padding: 35px 15px 35px;background: #f2f2f2;border: 1px solid #e4e4e4;}
.view-bills .gap{padding-bottom:10px;}
.view-bills .col-md-4{border-right:1px solid #e4e4e4;}
.view_bills .row .print_btn{width:100%;}
.normal_fnt{font-weight:normal;}
.row_btn{margin-top:20px;}

.bill_history{clear:both;}
.mg_acc{font-size: 28px;color: #161616;margin: 0;text-align: left;padding: 0 0 10px 0;border-bottom: 1px solid #00aadc;}
.mg_acc_mg{font-size: 28px;color: #161616;margin: 0;text-align: left;padding: 0 0 10px 0;}
.mg_acc_select{padding: 35px 0px 15px;clear: both;}
.mg_acc_select2{padding: 0 0 20px;}
.mg_acc_select label{padding: 7px 0 7px;font-weight: normal;}
.mg_acc_selectbox label{padding: 7px 0 7px;font-weight: normal;}
.mg_acc_select .row{ margin-bottom: 15px;}
.mg_acc_select .row .col-xs-6{ margin: 0 0 10px 0;} 
.mg_acc_select2 label{padding: 7px 0 7px;}
.mg_acc_select2 .row{ margin-bottom: 15px;}
.mg_acc_select2 .row .col-xs-6{ margin: 0 0 10px 0;}
.mg_acc_select_request{clear: both;background: #f2f2f2;border: 1px solid #e4e4e4;}
.mg_acc_select_request label{padding: 7px 0 7px;font-weight: normal;}
.mg_acc_select_request .row{ padding: 25px 15px 0;}
.mg_acc_select_request .row:last-child{ padding-bottom:25px;}
.mg_acc_select_request .row .col-xs-6{ margin: 0 0 10px 0;}   
.acc_bck_btn{padding: 0 0 20px;}
.acc_bck_btn a{text-align: right;display: block;margin: 15px 0;}
.note{margin: 0;padding: 20px;border: 1px solid #e4e4e4;background:#f2f2f2;}  
.termination_submit{font-size: 14px;}
.comments_section{display:block;overflow:hidden;margin: 20px 0 0;}
.comments_section p{padding:10px 15px 10px 15px;    display: block;overflow: hidden;border-bottom: 1px solid #e2e2e2; margin: 0;}
.comments_section p:last-child {border-bottom: none;}
.odd{background-color:#f9f9f9;}
.cmt{float:left;width:90%;}
.back_link{font-size: 13px;padding: 15px 0 0;color: #086135;text-decoration:none !important;}
.back_link:hover{color: #00aadc;}
.links{font-size: 13px;padding: 15px 0 0;color: #086135;text-decoration:none !important;}
.links:hover{color: #00aadc;}
.mg_acc_select_request hr {border: 0;border-top: 1px solid #cccccc;margin-top: 15px;;border-bottom: 1px solid #ffffff;margin-bottom: 5px;}
/*.date_style{font-size: 12px;font-style: italic;padding: 10px 0 0;display: block;color:#00aadc}*/
.comment_description{border:1px solid #e4e4e4;}
.margin_20{margin: 0 0 10px 0;display: block;}
.emg_no{padding:20px 20px 0;}
.inst{padding:0 20px 20px;}


@media (min-width:374px) and (max-width:767px){
/***********header*****************/
header.stickyheader {padding: 0 15px;}
select.sel_location {padding: 5px 7px;}
#main_nav ul li a {border-right:none;}
#main_nav ul li { height: auto;}
#main_nav.navbar-collapse.collapse.in {background: #fff;clear: both;display: block;float: none !important;padding: 0;position: relative;z-index: 10;top: 11px;margin: 0 -15px;}
#main_nav ul li:last-child a {padding: 8px 32px 8px 15px;}
.link_login:after {right: 15px;}
#main_nav ul li a {padding: 8px 15px;color: #086135;}
#main_nav ul {padding:0;border-top: 1px solid #e5e5e5;}
.ttz-dropdownblk:hover .ttz-dropdown {transition: margin-top 4s ease-in-out 1s;display:none;}
/*******login********/
.login-popblk {width: 100% !important;height: auto !important;top: 30%  !important;left: 0  !important;background: #fff  !important;z-index: 50;padding: 20px !important;margin:0;display:none;overflow:hidden;}
.login_detail .form-control {width: 100%;height: 34px;}
.btn-login, .btn-login:hover {     color: #fff !important;width: 100%;padding: 6px 22px;font-size: 14px;margin: 5px 0 0;}
.txtbox_content {position: absolute;right: 0;font-size: 12px;cursor: pointer;left:0;}
.login_detail .bp_number p{margin:0;}
.otp_detail {width:100%;overflow: hidden;}
.otp_detail .form-control {width: 180px;height: 29px;margin: 0 0 0 20px;}
/*******apply now-form********/
.mobiletxtbox {width: 100%;margin: 0 0 10px 0;}
.btn.verify {margin: 0}
#firstname{margin: 0 0 15px;}

/*******Track application********/
.trackApplication{margin-bottom: 10px;}
.upload_doc{padding: 14px}
.payment{ padding: 14px 40px;}
/*******my account bills****/
.bill_history .table_content .col-md-3 {margin: 0 0 10px 0;}
.bill_history .pay_now_btn {padding: 5px 10px;font-size: 13px;margin: 0;width:49%;}
.mg_acc_select{ padding: 15px 15px 15px;}
.cmt {float: left;width: 75%;}
.row_btn a {width: 100%;margin: 0 0 10px 0;}
.track_applicationblk .col-xs-5, .track_applicationblk .col-xs-7{margin:0 0 10px 0;}
.track_applicationblk .row { margin-top: 0;}
#back_top {position: fixed;bottom: 55px;right: 10px;z-index: 15;}
.form-control.lang-selecbox {border-left:none;}
.rate_cards{width:100% !important;    margin: 0 0 5px 0;}
.lft_menu {padding:0; margin:0;}
.gail_footer{margin-top:0;}
.placeholder-img {height:100%;}
.benefits {height:100%;}
.side_separator {border-bottom: 1px solid #e4e4e4;}
.side_separator:last-child{border-bottom: none;}
.media_txt2 {height:100%;}
}

@media (min-width:320px) and (max-width:374px){
.ttz-dropdownblk:hover .ttz-dropdown {transition: margin-top 4s ease-in-out 1s;display:none;}
 
.upload_doc{padding: 14px}
.payment{ padding: 14px 40px;}
.trackApplication{margin-bottom: 10px;}
.email-ellipsis {float: left;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;max-width: 160px;}
/***********header*****************/
header.stickyheader {padding: 0 15px;}
select.sel_location {padding: 5px 7px;margin:0; font-size: 11px;}
.header {background: #ffffff;height: 94px;z-index: 12;}
.logo{width: 135px;}
.navbar-toggle {margin: 0px 0 0 10px !important;}
span.gail-sprite.sel_location_img {margin: -4px 0 0 4px;}
#main_nav ul li a {border-right:none;}
#main_nav ul li { height: auto;}
#main_nav.navbar-collapse.collapse.in {background: #fff;clear: both;display: block;float: none !important;padding: 0;position: relative;z-index: 10;top: 11px;margin: 0 -15px;}
#main_nav ul li:last-child a {padding: 8px 32px 8px 15px;}
.link_login:after {right: 15px;}
#main_nav ul li a {padding: 8px 15px;color: #086135;}
#main_nav ul {padding:0;border-top: 1px solid #e5e5e5;}
/*******login********/
.login-popblk {width: 100% !important;height: auto !important;top: 30%  !important;left: 0  !important;background: #fff  !important;z-index: 50;padding: 20px !important;margin:0;display:none;overflow:hidden;}
.login_detail .form-control {width: 100%;height: 34px;}
.btn-login, .btn-login:hover {color: #fff !important;width: 100%;padding: 6px 22px;font-size: 14px;margin: 10px 0 0;}
.bp_number.otpblk {margin: 10px 0 0 0;}
.txtbox_content {position: absolute;right: 0;font-size: 12px;cursor: pointer;left: 0;}
.login_detail .bp_number p{margin:0;}
.otp_detail {width:100%;overflow: hidden;}
.otp_detail .form-control {width: 145px;height: 29px;margin: 0 0 0 5px;}
/*******apply now-form********/
.mobiletxtbox {width: 100%;margin: 0 0 10px 0;}
.btn.verify {margin: 0}
#firstname{margin: 0 0 15px;}
/**********my account bills***********/
.bill_history .table_content .col-md-3 {margin: 0 0 10px 0;}
.bill_history .pay_now_btn {padding: 5px 10px;font-size: 13px;margin: 0;width:49%;}
.mg_acc_select{padding: 15px 0 15px;}
.cmt {float: left;width: 70%;}
/************************/
.row_btn{margin-top:20px;}
.row_btn a{width:100%;margin:0 0 10px 0;}

/******************/
.col_cont {float: left;padding: 0 0 0 5%;width: 60%;}
.act .col_cont {width: 70%;}
.track_applicationblk .col-xs-5, .track_applicationblk .col-xs-7{margin:0 0 10px 0;}
.track_applicationblk .row { margin-top: 0;}
#back_top {position: fixed;bottom: 55px;right: 10px;z-index: 15;}
.form-control.lang-selecbox {border-left:none;}
.rate_cards{width:100% !important;    margin: 0 0 5px 0;}
.lft_menu {padding:0; margin:0;}
.gail_footer{margin-top:0;}
.placeholder-img {height:100%;}
.benefits {height:100%;}

.side_separator {border-bottom: 1px solid #e4e4e4;}
.side_separator:last-child{border-bottom: none;}
.media_txt2 {height:100%;}
}

@media (min-width:1024px) and (max-width:1280px){
	.banner_content_wrapper {
    	width: 80%;
	}
}

@media (min-width:0) and (max-width:780px){
	.banner_content_wrapper {
    	width: 80%;
	}
	.banner_content {
    	top: 140px;
	}
}
@media (max-width:900px) {
    
    .otpbtnblk .btn.verify, .mobverify-btnblk .btn.verify {
    margin: 0 0 0 6px;
    padding: 5px 14px;
    }
}